.marketcard {
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px;
  min-height: 150px;
}

.marketcard-text {
  padding: 3px;
}

.marketcard-image {
  width: 100px;
  height: 150px;
}

.marketcard-image img {
  height: 100%;
}
