.app-name {
  color: black;
  margin: 5px;
  font-family: cheee, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
  line-height: 60px;
}

.market-card {
  margin: 20px;
}

.favorites {
  background-color: red;
}

.nav {
  font-family: plantin, sans-serif;
  font-style: normal;
  font-weight: 300;
}
